.launch-grid__launch-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.launch-name {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    z-index: 3;
}

@media (max-width: 600px) {
    .launch-grid__launch-items {
        grid-template-columns: 1fr;
        max-height: 200px;
        overflow-y: unset;
    }
}
