.data-viewer__outer-wrapper {
    animation: fade-in 900ms ease;
    height: 100%;
}

.data-viewer__chart-container {
    min-height: 300px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .data-viewer__chart-container {
        height: 200px;
    }
}
